.helpArea {
  display: flex;
  width: 100%;
  height: 100%;
}

.helpNavigation {
  height: 100%;
  width: 150px;
  float: left;
  display: inline-flex;
  border-radius: 2px;
  /* width: 100%; */
}

.help-navigation-list {
  width: 100%;
  height: 100%;
  border-right: 1px solid #e0dceb;
  padding: 9px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding-top: 13px;
}

.helpNavButton {
  border: none;
  padding: 0;
  text-align: left;
  height: 37px;
  background: none;
  line-height: 30px;
  text-align: center;
}
