.cm-editor {
  border: none;
}

/* Remove the border when CodeMirror editor is focused */

.cm-focused {
  outline: none !important; /* Remove the default focus outline */
}

.cm-indent-guide {
  border-left: 1px solid var(--z-border-indent-guide);
  margin-left: -1px; /* Align guide to the left of the code */
  padding-left: 5px; /* Optional: space between the guide and code */
}
