
.text-editor-tool {
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 18px 18px 13px 18px;
    border-bottom: 1px solid #cccccc;
    color: #acacac;
}

.text-editor-tool a {
    color: #747474;
    font-size: 17px;
}
