.openCommandPaletteButton{
    border: 1px solid #E2DFEB;
    color: #ffffff;
    padding: 8px 15px;
    border-radius: 2px;
    position: relative;
    width: 100%;
    padding-left: 45px;
    background-color: #5f568f;
}