/* src/ContextMenu.css */
.context-menu {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 150px;
  }
  
.context-menu-item {
    padding: 8px 12px;
    cursor: pointer;
}

.context-menu-item:hover {
    background-color: #f0f0f0;
}