.graph-container {
    position: relative;
    width: 100%;
  }
  
  .commit-node {
    height: 40px;
    background-color: #5f568f;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
  }
  
  .commit-message {
  }
  
  .commit-hash {
    font-size: 12px;
  }
  
  .commit-node.main {
    background-color: #3498db;
  }
  
  .commit-node.feature-xyz {
    background-color: #f39c12;
  }
  
  .connection-line {
    background-color: #999;
    z-index: 0;
    height: 2px;
    transform-origin: top left;
  }
  
  .git-commit-content{
    width: 100%;
    padding: 10px;
    height: 45vh;
    overflow: hidden;
    overflow-y: scroll;
  }

  .gitbutton{
    font-weight: 400;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    padding: 6px 18px;
    color: #ffffff;
    box-sizing: border-box;
    background: #5f568f;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  .gitbutton:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }